apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: micro-bss
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: vijayarajvira/order-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3003
         
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: micro-bss
spec:
  selector:
    app: order-service
  ports:
    - port: 3003
      targetPort: 3003
