name: CI-CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Customer Service
      uses: docker/build-push-action@v5
      with:
        context: ./customer-service
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/customer-service:latest

    - name: Build & Push Order Service
      uses: docker/build-push-action@v5
      with:
        context: ./order-service
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/order-service:latest

    - name: Build & Push Billing Service
      uses: docker/build-push-action@v5
      with:
        context: ./billing-service
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/billing-service:latest

    - name: Build & Push API Gateway
      uses: docker/build-push-action@v5
      with:
        context: ./api-gateway
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/api-gateway:latest

  deploy:
    name: Deploy to Minikube
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Install Kubectl
      run: |
        sudo snap install kubectl --classic

    - name: Setup kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_CONFIG_DATA }}" > $HOME/.kube/config

    - name: Deploy YAML files to Kubernetes
      run: |
        kubectl apply -f k8s/
